doctype html
html(lang='en')
  head
    script(type='text/javascript').
      sessionStorage.setItem('login.action', '!{action}')
      sessionStorage.setItem('login.username', '!{username}')
      sessionStorage.setItem('login.errors', '!{errors}')
      window.location.replace('!{loginUrl}')
